.navbar-brand {
    width: 50px;
    margin-left: 100px;
}
.hero1 {
    background-color: #F1FAEE;
    p { 
      color: black; 
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
.heroimg {
    width: 70%;
}