
.habilidades {
    background-color: #F1FAEE;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    border: 1px img {
        width: 30px;
    }
}
#proyectos{
    margin-top: 20px;
}
.proyectos_card img {
    width: 100%;
}

#contact{
    padding: 20px;
    margin-top: 20px;
    background-color: #F1FAEE;

}